  <!-- Modal View -->
  <div class="modal">
    <div class="loader">

    </div>
  </div>
  
  <!-- Nav -->
  <div class="main-nav">
    <img src="css/images/logo-school.png">
    <ul>
      <li><a href="/home">Inicio</a></li>
      <li><a href="/store">Inscribir alumno</a></li>
      <li><a href="/show">Datos de inscripción</a></li>
      <li><a href="javascript:void(0);" id="logout">Salir</a></li>
    </ul>
  </div>