    </div>
    <div class="fieldset">
      <div class="title">
        <h4>Padre</h4>
      </div>
      <div class="data">
        <!-- Parent's Data -->
        <label for="parentName">Nombres Y Apellidos</label>
        <label for="parentSex">Sexo</label>
        <input type="text" name="parentName" placeholder="Nombres Y Apellidos" pattern="[A-Za-z ]{1,}" maxlength="30" required autocomplete="off">
        <input type="text" name="parentSex" list="sex" placeholder="Sexo" pattern="[A-Za-z]{1,}" maxlength="9" required autocomplete="off">
        <label for="parentIdentification">Cédula</label>
        <label for="parentBirthday">Fecha de Nacimiento</label>
        <input type="number" name="parentIdentification" placeholder="Cédula" pattern="[0-9]{1,}" maxlength="8" required autocomplete="off">
        <input type="date" name="parentBirthday" required autocomplete="off">

        <label for="parentCompany">Empresa dónde labora</label>
        <label for="parentCivilState">Estado Civil</label>
        <input type="text" name="parentCompany" placeholder="Empresa dónde labora" pattern="[A-Za-z ]{1,}" maxlength="30" required autocomplete="off">
        <input type="text" name="parentCivilState" list="civil" placeholder="Estado Civil" pattern="[A-Za-z/]{1,}" maxlength="9" required autocomplete="off">
        <label for="parentOcupation">Ocupación</label>
        <label for="parentDirection">Dirección de Habitación</label>
        <input type="text" name="parentOcupation" placeholder="Ocupación" pattern="[A-Za-z ]{1,}" maxlength="30" required autocomplete="off">
        <input type="text" name="parentDirection" placeholder="Dirección de Habitación" pattern="[A-Za-z0-9 ]{1,}" maxlength="30" required autocomplete="off">

        <label for="parentPhoneNumber1">Teléfono 1</label>
        <label for="parentPhoneNumber2">Teléfono 2</label>
        <input type="number" name="parentPhoneNumber1" placeholder="Teléfono 1" pattern="[0-9]{1,}" maxlength="11" required autocomplete="off">
        <input type="number" name="parentPhoneNumber2" placeholder="Teléfono 2" pattern="[0-9]{1,}" maxlength="11" required autocomplete="off">
        <label for="liveWithKid">¿Vive con el niño?</label>
        <label for=""></label>
        <input type="text" name="liveWithKid" list="yesno" placeholder="¿Si/No?" pattern="[A-Za-z]{1,}" maxlength="2" required autocomplete="off">
        <label for=""></label>
      </div>