    </div>
    <div class="fieldset">
      <div class="title">
        <h4>Representante</h4>
      </div>
      <div class="data">
        <!-- Representative's Data -->
        <label for="representName">Nombres Y Apellidos</label>
        <label for="representSex">Sexo</label>
        <input type="text" name="representName" disabled>
        <input type="text" name="representSex" list="sex" disabled>
        <label for="representID">Cédula</label>
        <label for="representBirthday">Fecha de Nacimiento</label>
        <input type="number" name="representID" disabled>
        <input type="date" name="representBirthday" disabled>

        <label for="representAge">Edad</label>
        <label for="representCivilState">Estado Civil</label>
        <input type="number" name="representAge" min="0" max="120" step="1" disabled>
        <input type="text" name="representCivilState" list="civil" disabled>
        <label for="representOcupation">Ocupación</label>
        <label for="representCompany">Empresa dónde labora</label>
        <input type="text" name="representOcupation" disabled>
        <input type="text" name="representCompany" disabled>

        <label for="representDirection">Dirección de Habitación</label>
        <label for="representPhoneNumber1">Teléfono 1</label>
        <input type="text" name="representDirection" disabled>
        <input type="number" name="representPhoneNumber1" disabled>
        <label for="representPhoneNumber2">Teléfono 2</label>
        <label for=""></label>
        <input type="number" name="representPhoneNumber2" disabled>
        <label for=""></label>
      </div>