    </div>
    <div class="fieldset">
      <div class="title">
        <h4>Representante</h4>
      </div>
      <div class="data">
        <!-- Representative's Data -->
        <label for="representName">Nombres Y Apellidos</label>
        <label for="representSex">Sexo</label>
        <input type="text" name="representName" placeholder="Nombres Y Apellidos" pattern="[A-Za-z ]{1,}" maxlength="30" required autocomplete="off">
        <input type="text" name="representSex" list="sex" placeholder="Sexo" pattern="[A-Za-z ]{1,}" maxlength="9" required autocomplete="off">
        <label for="representID">Cédula</label>
        <label for="representBirthday">Fecha de Nacimiento</label>
        <input type="number" name="representID" placeholder="Cédula" pattern="[0-9]{1,}" maxlength="8" required autocomplete="off">
        <input type="date" name="representBirthday" required autocomplete="off">

        <label for="representAge">Edad</label>
        <label for="representCivilState">Estado Civil</label>
        <input type="number" name="representAge" placeholder="Edad" pattern="[0-9]{1,}" maxlength="3" min="0" max="120" step="1" required autocomplete="off">
        <input type="text" name="representCivilState" list="civil" placeholder="Estado Civil" pattern="[A-Za-z/]{1,}" maxlength="9" required autocomplete="off">
        <label for="representOcupation">Ocupación</label>
        <label for="representCompany">Empresa dónde labora</label>
        <input type="text" name="representOcupation" placeholder="Ocupación" pattern="[A-Za-z ]{1,}" maxlength="30" required autocomplete="off">
        <input type="text" name="representCompany" placeholder="Empresa" pattern="[A-Za-z ]{1,}" maxlength="30" required autocomplete="off">

        <label for="representDirection">Dirección de Habitación</label>
        <label for="representPhoneNumber1">Teléfono 1</label>
        <input type="text" name="representDirection" placeholder="Dirección" pattern="[A-Za-z0-9 ]{1,}" maxlength="30" required autocomplete="off">
        <input type="number" name="representPhoneNumber1" placeholder="Teléfono 1" pattern="[0-9]{1,}" maxlength="11" required autocomplete="off">
        <label for="representPhoneNumber2">Teléfono 2</label>
        <label for=""></label>
        <input type="number" name="representPhoneNumber2" placeholder="Teléfono 2" pattern="[0-9]{1,}" maxlength="11" required autocomplete="off">
        <label for=""></label>
      </div>