  <!-- Search -->
  <div class="container" id="container">
    <div class="search" id="search">
      <input type="search" id="searchByName" placeholder="Buscar por nombre..." required minlength="1" autocomplete="off">
      <button type="button" class="searchBtn" id="searchBtn">Buscar</button>
    </div>
    <div class="notes" id="notes">

    </div>
  </div>