  <!-- Search -->
  <form class="search" id="search">
    <input type="search" id="searchByName" placeholder="Buscar por nombre..." required autocomplete="off">
    <button type="submit" class="searchBtn" id="searchBtn">Buscar</button>
  </form>