  <!-- Main Form -->
  <form class="main" id="main">
    <div class="fieldset">
      <div class="title">
        <h4>Estudiante</h4>
      </div>

      <div class="data">
        <!-- Student's Data -->
        <label for="name">Nombres Y Apellidos</label>
        <label for="identification">Cédula</label>
        <input type="text" name="name" disabled>
        <input type="number" name="identification" disabled>
        <label for="sex">Sexo</label>
        <label for="birthday">Fecha de Nacimiento</label>
        <input type="text" name="sex" disabled>
        <input type="date" name="birthday" disabled>

        <label for="birthdayPlace">Lugar de Nacimiento</label>
        <label for="municipality">Municipio</label>
        <input type="text" name="birthdayPlace" disabled>
        <input type="text" name="municipality" disabled>
        <label for="country">Entidad Federal / País</label>
        <label for="age">Edad</label>
        <input type="text" name="country" disabled>
        <input type="number" name="age" disabled>

        <label for="weight">Peso</label>
        <label for="height">Estatura</label>
        <input type="number" name="weight" disabled>
        <input type="number" name="height" disabled>
        <label for="shirtSize">Talla de Camisa</label>
        <label for="pantSize">Talla de Pantalón</label>
        <input type="number" name="shirtSize" disabled>
        <input type="number" name="pantSize" disabled>

        <label for="shoeSize">Talla de Zapato</label>
        <label for="liveWithParents">¿Vive con sus padres?</label>
        <input type="number" name="shoeSize" disabled>
        <input type="text" name="liveWithParents" disabled>
        <label for="direction">Dirección</label>
        <label for="phoneNumber">Teléfono</label>
        <input type="text" name="direction" disabled>
        <input type="number" name="phoneNumber" disabled>

        <label for="impedimentToSports">Impedimento A Deportes</label>
        <label for="alergicTo">Alérgico A</label>
        <input type="text" name="impedimentToSports" disabled>
        <input type="text" name="alergicTo" disabled>
      </div>