{{>head}}

  <title>Inicio - Aplicaci贸n Web</title>
  <link rel="stylesheet" href="css/home.css">
  <link rel="stylesheet" href="css/all.min.css">
  <script src="js/home.js" type="module"></script>
</head>
<body>

  {{>nav}}

  <!-- Main section -->
  <div class="main">
    <div class="main-section register">
      <i class="fas fa-database fa-10x"></i>
      <a href="/store">Inscribir alumno</a>
    </div>
    <div class="main-section show">
      <i class="fas fa-desktop fa-10x"></i>
      <a href="/show">Mostrar datos de inscripci贸n</a>
    </div>
    <div class="main-section messages">
      <i class="fas fa-pen-alt fa-10x"></i>
      <a href="/update">Actualizar datos de inscripci贸n</a>
    </div>
    <div class="main-section notes">
      <i class="fas fa-minus-circle fa-10x"></i>
      <a href="/delete">Eliminar datos de inscripci贸n</a>
    </div>
  </div>

  <footer>
      Derechos Reservados &reg; 2018
  </footer>
</body>
</html>