<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ingresar - Aplicación Web</title>
  <link rel="stylesheet" href="css/index.css">
  <link rel="icon" href="css/images/logo-school-icon.png" type="image/png">
  <script src="js/index.js"></script>
</head>
<body>
  <!-- Modal View -->
  <div class="modal" id="modal">
      <div class="loader">
  
      </div>
  </div>

  <!-- Form -->
  <form class="form animation" id="form">
    <!-- Image Container -->
    <div class="image-container">
      <img src="css/images/avatar.png">
    </div>
    
    <!-- Content Container -->
    <div class="container" id="container">
      <label for="email"><b>Email</b></label>
      <input type="text" name="email" id="email" placeholder="Ingrese Email" required autocomplete="off">
      <label for="password"><b>Contraseña</b></label>
      <input type="password" name="password" id="password" placeholder="Ingrese Contraseña" autocomplete="off" required>
      <button type="submit" class="btn login" id="login">Ingresar</button>
      <a href="/register" class="btn register">¿No está registrado?</a>
      <div class="error" id="error"></div>
    </div>
  </form>
</body>
</html>