<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Registrarse - Aplicación Web</title>
  <link rel="stylesheet" href="css/register.css">
  <link rel="icon" href="css/images/logo-school-icon.png" type="image/png">
  <script src="js/register.js"></script>
</head>
<body>
  <!-- Modal View -->
  <div class="modal">
      <div class="loader">
  
      </div>
  </div>

  <!-- Form -->
  <form class="form animation" id="form">
    <!-- Title -->
    <div class="title">
      <b>Registro de Usuario</b>
    </div>

    <!-- Content Container -->
    <div class="container">
      <label for="name"><b>Nombre</b></label>
      <input type="text" name="name" id="name" placeholder="Ingrese Nombre" required autocomplete="off">
      <label for="email"><b>Email</b></label>
      <input type="email" name="email" id="email" placeholder="Ingrese Email" required autocomplete="off">
      <label for="password"><b>Contraseña</b></label>
      <input type="password" name="password" id="password" placeholder="Ingrese Contraseña" required>
      <label for="identification"><b>Cédula</b></label>
      <input type="text" name="identification" id="identification" placeholder="Ingrese Cédula" required autocomplete="off">
      <label for="birthday"><b>Fecha de Nacimiento</b></label>
      <input type="date" name="birthday" id="birthday">
      <button type="submit" class="btn register" id="register">Registrarse</button>
      <a href="/" class="btn login">¿Ya se ha registrado?</a>
    </div>
  </form>
</body>
</html>