{{>head}}

  <title>Mostrar - Aplicación Web</title>
  <link rel="stylesheet" href="css/show.css">
  <script src="js/show.js" type="module"></script>
</head>
<body>
  
  {{>nav}}

  {{>search}}

  {{>formDisabled}}

  {{>footer}}