{{>head}}

  <title>Inscribir - Aplicación Web</title>
  <link rel="stylesheet" href="css/store.css">
  <script src="js/store.js" type="module"></script>
</head>
<body>
  
  {{>nav}}

  {{>formRequired}}

        <button type="submit" class="submit btn" id="submit">Guardar</button>

  {{>footer}}