{{>head}}

  <title>Actualizar Estudiante - Aplicación Web</title>
  <link rel="stylesheet" href="css/show.css">
  <script src="js/updateStudent.js" type="module"></script>
</head>
<body>
  
  {{>nav}}

  {{>steps}}

  {{>studentDataRequired}}

      <div class="buttons">
        <button type="button" class="next btn">Siguiente</button>
        <button type="submit" class="submit btn" id="submit">Actualizar</button>
      </div>

  {{>parentDataRequired}}

      <div class="buttons">
        <button type="button" class="prev btn">Anterior</button>
        <button type="submit" class="submit btn" id="submit">Actualizar</button>
        <button type="button" class="next btn">Siguiente</button>
      </div>

  {{>representDataRequired}}

      <div class="buttons"> 
        <button type="button" class="prev btn">Anterior</button>
        <button type="submit" class="submit btn" id="submit">Actualizar</button>
      </div>

  {{>footer}}