{{>head}}

  <title>Actualizar - Aplicación Web</title>
  <link rel="stylesheet" href="css/show.css">
  <script src="js/update.js" type="module"></script>
</head>
<body>
  
  {{>nav}}

  {{>search}}

  {{>formRequired}}

        <button type="submit" class="submit btn" id="submit">Guardar</button>

  {{>footer}}