* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(lightskyblue, green);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Login Form */
.form {
  width: 430px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.4);
  background: white;
}
.image-container {
  text-align: center;
  margin: 20px 0 12px 0;
}
.image-container > img {
  width: 40%;
  border-radius: 50%;
}
.container {
  padding: 16px;
}
.container input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid lightgray;
}
.container #login {
  background-color: darkorange;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  width: 100%;
  cursor: pointer;
}
.container #login:hover {
  opacity: 0.8;
}

.animation {
  animation: zoom 1s;
}

@keyframes zoom {
  from { transform: scale(0) }
  to { transform: scale(1) }
}

/* Media Queries */
@media(max-width: 530px) {
  .form {
    width: 80%;
  }
}
@media(max-height: 400px) {
  .image-container > img {
    display: none;
  }
}