* {
  margin: 0;
  padding: 0;
  border: 0;
}
*:focus {
  outline: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(lightskyblue, green);
  display: grid;
  max-width: 90%;
  margin: 0 auto;
  grid-gap: 20px;
}

/* Preloading */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.95);
}
.loader {
  display: block;
  position: relative;
  top: 40%;
  left: 44%;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 3px solid transparent;
  border-top-color: lightskyblue;

  animation: spin 2s linear infinite;

  z-index: 1001;
}
  .loader:before {
    content: "";
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: green;
    animation: spin 3s linear infinite;
  }
  .loader:after {
    content: "";
    position: absolute;
    top: 15px;
    bottom: 15px;
    left: 15px;
    right: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: darkorange;
    animation: spin 1.5s linear infinite;
  }
@keyframes spin {
  from {transform: rotate(0deg)}
  to {transform: rotate(360deg)}
}

/* Main Nav */
.main-nav {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: center;
  height: 150px;
  background-color:white;
  border-radius: 0 0 20px 20px;
}
.main-nav > img {
  grid-column: 1 / 3;
  width: 100%;
  height: 100%;
  border-radius: 0 0 0 20px;
}
.main-nav > ul {
  grid-column: 3 / 13;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  list-style: none;
}
.main-nav > ul a {
  display: block;
  text-decoration: none;
  text-align: center;
  color: black;
  padding: 15px 0;
}
.main-nav > ul a:hover {
  background-color:lightskyblue;
  color: white;
  box-shadow: 0 0 20px lightgray;
  border-radius: 20px;
}
.main-nav > ul li:nth-child(2) {
  position: relative;
}
.main-nav > ul li:nth-child(2) > ul {
  opacity: 0;
  visibility: hidden;
  list-style: none;
  position: absolute;
  top: 40px;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  transition: opacity 0.5s ease-in-out 0s;
}
.main-nav > ul li:nth-child(2):hover > ul {
  visibility: visible;
  opacity: 1;
}

/* Main Section */
.main {
  display: grid;
  grid-template-areas:'register top-right'
                      'messages notes';
  grid-gap: 20px;
}
.register {
  grid-area: register;
}
.show {
  grid-area: top-right;
}
.messages {
  grid-area: messages;
}
.notes {
  grid-area: notes;
}
.main-section {
  background-image: radial-gradient(orange 20%, darkorange 80%);
  border-radius: 20px;
  padding-top: 20px;
  color: black;
  text-align: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
.main-section a {
  display: block;
  margin: 20px auto;
  text-decoration: none;
  color: black;
  font-size: 1em;
  width: 60%;
  padding: 12px 20px;
  border-radius: 10px;
  cursor: pointer;
  background-color: white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
.main-section a:active {
  transform: translate(1px, 1px);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

/* Footer */
footer {
  display: grid;
  height: 100px;
  background-color: white;
  align-content: center;
  justify-content: center;
  border-radius: 20px 20px 0 0;
}

