* {
  margin: 0;
  padding: 0;
  border: 0;
}
*:focus {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(lightskyblue, green);
  display: grid;
  grid-gap: 20px;
  max-width: 90%;
  margin: 0 auto;
}

/* Preloading */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.95);
}
.loader {
  display: block;
  position: relative;
  top: 40%;
  left: 44%;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 3px solid transparent;
  border-top-color: lightskyblue;

  animation: spin 2s linear infinite;

  z-index: 1001;
}
  .loader:before {
    content: "";
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: green;
    animation: spin 3s linear infinite;
  }
  .loader:after {
    content: "";
    position: absolute;
    top: 15px;
    bottom: 15px;
    left: 15px;
    right: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: darkorange;
    animation: spin 1.5s linear infinite;
  }
@keyframes spin {
  from {transform: rotate(0deg)}
  to {transform: rotate(360deg)}
}

/* Main Nav */
.main-nav {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: center;
  height: 150px;
  background-color:white;
  border-radius: 0 0 20px 20px;
}
.main-nav > img {
  grid-column: 1 / 3;
  width: 100%;
  height: 100%;
  border-radius: 0 0 0 20px;
}
.main-nav > ul {
  grid-column: 3 / 13;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  list-style: none;
}
.main-nav > ul a {
  display: block;
  text-decoration: none;
  text-align: center;
  color: black;
  padding: 15px 0;
}
.main-nav > ul a:hover {
  background-color:lightskyblue;
  color: white;
  box-shadow: 0 0 20px lightgray;
  border-radius: 20px;
}
.main-nav > ul li:nth-child(2) {
  position: relative;
}
.main-nav > ul li:nth-child(2) > ul {
  opacity: 0;
  visibility: hidden;
  list-style: none;
  position: absolute;
  top: 40px;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  transition: opacity 0.5s ease-in-out 0s;
}
.main-nav > ul li:nth-child(2):hover > ul {
  visibility: visible;
  opacity: 1;
}

.progressbar {
  counter-reset: step;
}
.progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  width: 33.33%;
  float: left;
  position: relative;
  text-align: center;
  font-size: 12px;
}
.progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  color: gray;
  background-color: white;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}
.progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1;
}
.progressbar li:first-child::after {
  content: none;
}
.progressbar li.active:before, .progressbar li.active:after {
  background-image: radial-gradient(orange 20%, darkorange 100%);
  color: white;
}

/* Form */
.form {
  display: grid;
  grid-gap: 20px;
}

/* Data */
.fieldset {
  display: grid;
  width: 60%;
  margin: auto;
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  background-image: radial-gradient(orange 20%, darkorange 100%);
  padding: 20px;
  grid-gap: 10px;
}
.fieldset:not(:first-of-type) {
  display: none;
}
.title h4 {
  text-transform: uppercase;
  text-align: center;
}
.data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px 20px;
}
.data label {
  margin-top: 10px;
}
.data input {
  padding: 10px 35px 10px 10px;
  border-radius: 5px;
  height: 36px;
  font-size: 14px;
  width: 100%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
}
.data input[type="date"] {
  background-color: white;
}
.data input[type="text"] {
  text-transform: capitalize;
}
.data input[list] {
  text-transform: none;
}
.data input:focus {
  box-shadow: 0 0 10px 2px turquoise;
}
.btn {
  justify-self: center;
  width: 50%;
  cursor: pointer;
  margin-top: 10px;
  background-color: green;
  color: white;
  padding: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}
.btn:hover {
  opacity: 0.8;
}
.btn:active {
  transform: translate(1px, 1px);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
.prev {
  grid-column: 1 / 2;
}
.next, .submit {
  grid-column: 2 / 3;
}

/* Valid */
.data input:valid {
  background-image: url('images/th-green-icon-small.jpg');
  background-position: 97% 5px;
  background-repeat: no-repeat;
}
.data input:invalid {
  background-image: url('images/th-red-icon-small.jpg');
  background-position: 97% 5px;
  background-repeat: no-repeat;
}

/* Footer */
footer {
  display: grid;
  height: 100px;
  background-color: white;
  align-content: center;
  justify-content: center;
  border-radius: 20px 20px 0 0;
}